<!DOCTYPE html>
<html>
<head>
  <title>Hooyu</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag "/stylesheets/application.css", media: :all %>
  <%= javascript_include_tag "/javascripts/application.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <% if flash[:success] || flash[:error] %>
      <%= react_component "Flasher", success: flash.key?(:success), message: flash[:success] || flash[:error] %>
    <% end %>

    <%= react_component "Logout", url: destroy_user_session_path if current_user %>

    <%= yield %>
  </div>
</body>
</html>
